<h1 class="titles"><%= @creator.username.capitalize %>'s Restaurants</h1>
<br>
<% @creator.each do |created_restaurant| %>
<div class="home-restaurants">
  <h3><%= created_restaurant.name %></h3>

  <p>
  <%= created_restaurant.neighborhood %><br>
  <%= created_restaurant.street_address%><br>
  <%= created_restaurant.category %><br>
  <%= created_restaurant.tips %></p>
</div> <!--// end container //-->
<br>
<%end%>

<h2>Other Saved Restaurants</h2>
