<div class="outer-div" id="user-home">
  <h1 class="home-title"><%= @user.username%>'s Restaurants</h1>


    <h3 id="visited-title">Visited Restaurants</h3>

    <div class="wrapper" id="visited-restaurants">
    <% @user.visited_bookmark.each do |restaurant| %>
    <div id="visited">
      <a href="/restaurants/<%=restaurant.id%>" class="col-8" id="visited"><%=restaurant.name%></a>
    </div>

    <%end%>

    
  </div>

    <h3 id="wishlist-title">Wishlist Restaurants</h3>
    <div class="wrapper" id="wishlist-restaurants">
    <% @user.wish_list.each do |restaurant| %>
    <div id="wish-list">
    <a href="/restaurants/<%=restaurant.id%>" class="col-8" id="wish-list"><%=restaurant.name%></a>
  </div>
    <%end%>

  </div>


</div>
