<div class="outer-div" id="user-home">
  <h1 class="home-title"><%= @user.username%>'s Restaurants</h1>

  <div id="visited-restaurants" class="visited wrapper">
    <p id="visited-title">Visited Restaurants</p>


    <% @user.visited_restaurant.each do |restaurant| %>

    <a href="/restaurants/<%=restaurant.id%>" id="visited" class="col-8"><%=restaurant.name%></a>

    <%end%>
  </div>

  <div id="wishlist-restaurants" class="visited wrapper">

    <h3 id="wishlist-title">Wishlist Restaurants</h3>
    <% @user.wish_list.each do |restaurant| %>

    <a href="/restaurants/<%=restaurant.id%>" id="wish-list" class="col-8"><%=restaurant.name%></a>

    <%end%>

  </div>


</div>
