<div class="outer-div" id="user-home">
  <h1 class="home-title"><%= @creator.username%>'s Restaurants</h1>

  <div id="created" class="section">
    <h3 id="created-title">Created Restaurants</h3>

    <% current_user.created_restaurants.each do |created_restaurant| %>
      <div class='breaking-display-block'>
        <a href="/restaurants/<%=created_restaurant.id%>" class="wrapper col-8"><%=created_restaurant.name%></a>
      </div>
    <%end%>
  </div>

  <div id="bookmarked" class="section">
    <h3 id="bookmarked-title">Bookmarked Restaurants</h3>

    <% current_user.restaurants.each do |restaurant| %>
      <% if current_user != restaurant.creator %>
        <div class='breaking-display-block'>
          <a href="/restaurants/<%=restaurant.id%>" class="wrapper col-8"><%=restaurant.name%></a>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
