<div class="titles">
<h1><%= @creator.username.capitalize %>'s Restaurants</h1>
<h3>Created Restaurants</h3>
</div>

<div class="grid-container" id="home-view">
<% current_user.created_restaurants.each do |created_restaurant| %>
  <a href="/restaurants/<%=created_restaurant.id%>" class="grid-item created-restaurant"><%=created_restaurant.name%></a>
  <br>
<%end%>
</div>
<br>

<h3 class="titles">Bookmarked Restaurants</h3>
<div class="grid-container" id="home-view">
<% current_user.restaurants.each do |restaurant| %>
  <% if current_user != restaurant.creator %>
  <a href="/restaurants/<%=restaurant.id%>" class="grid-item restaurant"><%=restaurant.name%></a>
  <br>
  <%end%>
<%end%>
</div>
