<h1 class="titles"><%= @user.username.capitalize %>'s Restaurants</h1>
<br>
<% @user.restaurants.each do |restaurant| %>
<div class="container home restaurants">
  <h3><%= restaurant.name %></h3>

  <p><%= restaurant.neighborhood %></p>
  <p><%= restaurant.street_address %></p>
  <p><%= restaurant.category %></p>

  <p><%= restaurant.tips %></p>
</div> <!--// end container //-->
<br>
<%end%>

<h2>Other Saved Restaurants</h2>
