<h1 class="titles"><%= @creator.username.capitalize %>'s Restaurants</h1>
<br>

<div class="form-all">
<% @creator.created_restaurants.each do |created_restaurant| %>

  <a href="/restaurants/<%=created_restaurant.id%>"><%=created_restaurant.name%></a>

  <!-- <p>
  <%= created_restaurant.neighborhood %><br>
  <%= created_restaurant.street_address%><br>
  <%= created_restaurant.category %><br>
  <%= created_restaurant.tips %></p> -->
  <br>
<%end%>
</div>
<br>
<h2>Other Saved Restaurants</h2>
<div class="form-all">

</div>
