<div class="outer-div wrapper" id="edit-restaurant">

  <h2>Edit Restaurant</h2>
  <p>Make sure all fields have an input.</p>

  <form method="post" id="edit-restaurant" action="/restaurants/<%=@created_restaurant.id%>">
    <div class="form-input">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label>Restaurant Name</label>
      <br>
      <input type="text" name="name" class="form-control" value="<%=@created_restaurant.name%>">
      <br>
      <label>Neighborhood</label>
      <br>
      <input type="text" name="neighborhood" class="form-control" value="<%=@created_restaurant.neighborhood%>">
      <br>
      <label>Street Address</label>
      <br>
      <input type="text" name="street_address" class="form-control" value="<%=@created_restaurant.street_address%>">
      <br>
      <label>Category</label>
      <br>
      <input type="text" name="category" class="form-control" value="<%=@created_restaurant.category%>">
      <br>
      <label>User Tips and Recommendations</label>
      <br>
      <input type="text" name="tips" class="form-control"value="<%=@created_restaurant.tips%>"><br>

      <input type="submit" class="button" id="edit" value="submit">
    </div>
  </form>
</div>
