<div class="titles" id="restaurant-show">
  <h1><%= @created_restaurant.name %></h1>
  <h3><%= @created_restaurant.street_address%></h3>
</div>

<div class="grid-container" id="restaurant-show">
  <div class="grid-item restaurant-show" id="neighborhood">
    <h5>Neighborhood</h5>
    <p><%= @created_restaurant.neighborhood%></p>
  </div>

  <div class="grid-item restaurant-show" id="category">
    <h5>Category</h5>
    <p><%= @created_restaurant.category%></p>
  </div>

  <div class="grid-item restaurant-show" id="tips">
    <h3 class="titles">Insider Tips</h3>
    <p><%= @created_restaurant.tips %></p>
  </div>




  <% if current_user == @created_restaurant.creator %>
  <div class="center">

    <form method="post" id="delete-button" action="/restaurants/<%=@created_restaurant.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" class="button" value="Delete Restaurant">
    </form>
    <br>
    <form method="get" id="edit-button" action="/restaurants/<%=@created_restaurant.id%>/edit">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <input type="submit" class="button" name="edit" value="Edit Restaurant">
    </form>

    <% else %>

    <form action="/bookmarks" method="post" class="bookmark">
      <input id="visited" type="radio" name="visited"  value="visited">Been There!</input>
      <br>
      <input id="wish-list" type="radio" name="visited" value="wish-list" checked="checked">Still Need To Go</input>
      <br>
      <input type="hidden" name="restaurant_id" value="<%=@created_restaurant.id%>">
      <input type="hidden" name="user_id" value="<%=current_user.id%>">

      <input type="submit" class="button" value="Bookmark">

    </form>

    <% end %>


  </div>
</div>
