<div class="titles" id="restaurant-show">
  <h1><%= @created_restaurant.name %></h1>
  <h3><%= @created_restaurant.street_address%></h3>
</div>

<div class="grid-container" id="restaurant-show">
  <div class="form-all grid-item item-neighborhood">
    <h5>Neighborhood</h5>
    <p><%= @created_restaurant.neighborhood%></p>
  </div>

  <div class="form-all grid-item item-category">
    <h5>Category</h5>
    <p><%= @created_restaurant.category%></p>
  </div>

  <div class="form-all grid-item item-tips">
    <h3 class="titles">Insider Tips</h3>
    <p><%= @created_restaurant.tips %></p>
    <p>Added by: <%=@created_restaurant.creator.username%></p>
  </div>


  <% if current_user == @created_restaurant.creator %>
  <div class="form-all item-buttons">

    <form method="post" class="buttons" id="delete-button" action="/restaurants/<%=@created_restaurant.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Restaurant">
    </form>
    <br>
    <form method="get" class="buttons" id="edit-button" action="/restaurants/<%=@created_restaurant.id%>/edit">
      <input type="submit" name="edit" value="Edit Restaurant">
    </form>

    <% else %>

    <form action="/home" method="post" class="bookmark">
      <input id="visited" type="radio" name="bookmark"  value="visited">Been There!</input>

      <br>

      <input id="wish-list" type="radio" name="bookmark" value="wish-list">Still need to go</input>

      <br>

      <input type="submit" value="Bookmark">

    </form>

    <% end %>


  </div>
</div>
