<br>
<h1><%= @restaurant.name %></h1>
<p>Address:  <%= @restaurant.street_address %></p>
<h2>Neighborhood:  <%= @restaurant.neighborhood%></h2>
<h3>Category:  <%= @restaurant.category%></h3>
<h3>Recommendations:  <%= @restaurant.tips %></h3>
